blinker==1.9.0
click==8.1.8
Flask==3.1.0
Flask-Cors==5.0.0
imageio==2.36.1
itsdangerous==2.2.0
Jinja2==3.1.5
lazy_loader==0.4
MarkupSafe==3.0.2
networkx==3.4.2
numpy==2.2.1
opencv-python==4.10.0.84
packaging==24.2
pillow==11.0.0
scikit-image==0.25.0
scipy==1.14.1
tifffile==2024.12.12
Werkzeug==3.1.3
